name: Publish Codespace Base Image

on:
  workflow_dispatch:

env:
  IMAGE_NAME: ghcr.io/altoresmonaco/support-portal-codespace

jobs:
  publish-code-space-image:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ secrets.GHCR_USERNAME }}
        password: ${{ secrets.GHCR_TOKEN }}

    - name: Build the Codespace Base Image
      run: |
        docker-compose -f .devcontainer/docker-compose.yml build base
        docker tag base:latest ${IMAGE_NAME}:latest
        docker push ${IMAGE_NAME}:latest
